<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548154585733-no8k6etel11vh0bo6ttbvcgtnmqvb37v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548154585733-no8k6etel11vh0bo6ttbvcgtnmqvb37v</string>
	<key>API_KEY</key>
	<string>AIzaSyCDhwH_ztTQhqLgymSfnL-F8aH0-jaLyUE</string>
	<key>GCM_SENDER_ID</key>
	<string>548154585733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinn.GourmetSearch</string>
	<key>PROJECT_ID</key>
	<string>gourmetsearch-a9e9d</string>
	<key>STORAGE_BUCKET</key>
	<string>gourmetsearch-a9e9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548154585733:ios:a88bed0c8658832ffe6fec</string>
	<key>DATABASE_URL</key>
	<string>https://gourmetsearch-a9e9d.firebaseio.com</string>
</dict>
</plist>